 h1{
    padding-left: 40%;
    padding-right: 60%;
    padding-bottom: 2%;
    padding-top: 2%;
    background-color: blueviolet;
    border-radius: 5%;

}
button{
    cursor: progress;
    size: 20px
}
image{
    ;
}