nav a{
    padding: 0%;
    text-align: left;
    color: black;
    image-orientation: align-items center;;

}
nav  a img{
    text-emphasis: none;
    border-image-slice:40%;
}
h1{
    text-align: center;
    
}
legend{
      border-radius: 50px;
      background-color: rgb(180, 116, 239);
      align-items: center;
    
      
}

fieldset input{
    border: 0px;
    text-decoration: solid;
    transform: animation-name name;;

}
fieldset {
    padding-left: 2%;
    padding-right: 70%;
    padding-bottom: 0%;
    padding-top: 0%;
    border-radius: 10px;
    list-style-type: circle;
    }
    fieldset.name{
        float: left;
    }
    fieldset.logo{
        float: left;
    }
    fieldset.address{
        float: right;
    }