nav a{
    padding: 0%;
    text-align: left;
    color: black;
    image-orientation: align-items center;;

}
nav  a img{
    text-emphasis: none;
    border-image-slice:40%;
}
h1{
    text-align: center;
    
}
legend{
      border-radius: 50px;
      background-color: rgb(180, 116, 239);
      align-items: center;
    
      
}

fieldset input{
    border: 0px;
    text-decoration: solid;
    transform: animation-name name;;

}
fieldset {
    padding-left: 2%;
    padding-right:0%;
    padding-bottom: 0%;
    padding-top: 0%;
    border-radius: 10px;
    list-style-type: circle;
    }
    fieldset.name{
        float: left;
    }
    fieldset.logo{
        float: left;
    }
    fieldset.address{
        float: right;
    }
   
    button a{
        color: black;
        background-color: rgb(211, 185, 14);
        text-decoration: solid;
        text-align: center;
        border: 50px;
        border-radius: 50px;
        list-style-type: circle;
        

    }
    .field{

        text-decoration: dashed;
        color: rgb(180, 116, 239);
    }
    div .form{
        width:30%;
    }
div.logo{
      width: 30%;
}
div.number{
    width: 30%;

}
div.col-md-6{
    width: 50%;
    border-radius: 10px;

}
div.col-md-8{
    width: 100%;
    border-radius: 10px;
    padding-left: 50%;
    
}