nav a{
    padding: 0%;
    text-align: left;
    color: black;
    

}
nav  a img{
    text-emphasis: none;
    border-image-slice:40%;
}
h1{
    text-align: center;
    padding-bottom: 20px;
    
}

           
legend{
  border-radius: 10px;
  background-color: rgb(203, 160, 244);
  border: 10px;
  border-color: black;}

fieldset  input{
    border-radius: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    
}

select{
    padding-left: 100px;
    border: none;
}

.split  .right{
    height: 500%;
    width: 30%;
    position: fixed;

    top: 0;
    
    padding-top: 150px;
    margin-left: 100px;
    margin-right: 50px;
    padding-right: 350px;
  }
  h4{
    text-align: center;
  }
  .row{
    margin-left: 50%;
    
  } 
  .col-4{
    
    padding-right: 100%;
  }
  button{
    align-items: center;
  }
  .col-8 button{
    background-color: rgb(228, 143, 14);
    border-radius: 10px;
    vertical-align: bottom;
  }
  .set{
    border-radius: 10px;
    border: black;
  }
  .container-fluid{
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 10%;
    padding-right: 10%;
    
  }
  .row{
    border-color: black;
  }
  
  

